---
import ClientPreferences from '../components/client-preferences.astro';
import ContentSection from '../components/content-section.astro';
import HeroSection from '../components/hero-section.astro';
import Layout from '../layouts/layout.astro';
import SiteFooter from '../components/site-footer.astro';
import SiteHeader from '../components/site-header.astro';

import { sections } from '../lib/site';
import '../styles/global.css';
---

<Layout>
	<SiteHeader />
	<main>
		<HeroSection />
		{sections.map((section) => <ContentSection id={section.id} sectionKey={section.key} />)}
	</main>
	<SiteFooter />
	<ClientPreferences />
</Layout>
