.about-me {
    padding: 0 80px;
	display: flex;
	flex-direction: column;
}

.about-me h1 {
    color: #fff;
	font-size: 3rem;
	line-height: 60px;
	text-align: center;
	margin: 10px 0 40px 0;
	text-shadow: 1px 1px 3px black;
	word-wrap: break-word;
}

.collapsible-container {
	background-color: rgba(17, 25, 40, 0.75);
    padding: 1%;
	margin-bottom: 20px;
	transition: 0.3s;
	border: 3px solid transparent;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
}

.collapsible-container:hover {
	border-color: #632ce4;
    cursor: pointer;
}

.collapsible-container button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.collapsible-container div.collapsible {
    height: min-content;
}

.paragraphs {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    max-width: 95%;
    margin: auto;
}

.paragraphs p {
    font-size: medium;
    margin: .5%;
}

@media(max-width: 400px) {
    .paragraphs p {
        font-size: small;
    }
}
