header {
  background-color: var(--pseudo-headerbg, #10458F);
  color: whitesmoke;
  height: 2vh;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 1% 0;
  margin-bottom: 1%;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, .3);
  z-index: 1000;
}

header h2 {
  float: left;
  margin-left: 2%;
}

header h2::after {
  content: '';
  display: block;
  width: var(--pseudo-width, 0);
  border-bottom: 1px solid #CCC;
}

main {
  clear: both;
}

.main.menu {
  width: 30%;
  float: right;
}

.main.menu ul li {
  font-weight: bold;
  margin-left: 5%;
  text-align: center;
  list-style-type: none;
  float: left;
}

.main.menu ul li:hover {
  border-bottom: 1px solid #CCC;
  cursor: pointer;
}

footer {
  width: 100%;
  text-align: center;
  justify-content: center;
  bottom: 0;
  position: fixed;
}

@media(max-width: 1600px) {
  .main.menu {
    width: 40%;
  }
}

@media(max-width: 1300px) {
  .main.menu {
    width: 50%;
  }
}

@media(max-width: 1000px) {
  .main.menu {
    width: 60%;
  }
}

@media(max-width: 850px) {
  .main.menu {
    width: 50%;
    font-size: x-small;
  }
}

@media(max-width: 700px) {
  header {
    padding: 2% 1%;
    height: 2.5vh;
  }

  header h2 {
    font-size: small;
  }

  .main.menu {
    display: none;
  }
}
