.certifications {
    max-height: 100%;
    max-width: 100%;
}

.wrapper {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    display: block;
}

.certifications h1 {
    max-height: fit-content;
    max-width: fit-content;
    color: #fff;
    margin: auto;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
}

.certifications img {
    max-height: 30vh;
    max-width: 35vw;
    transition: transform .5s;
    padding: 30px;
    margin: 0 auto;
    cursor: pointer;
}

.certifications img:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(27, 27, 27, 0.5);
    display: flex;
    z-index: 999;
    align-items: center;
}

.overlay img {
    display: block;
    max-width: 60%;
    max-height: 80%;
    z-index: 999;
}

.overlay > span {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
  
.overlay-arrows {
    font-size: 4em;
}

.overlay-arrows.left {
    display: flex;
    position: absolute;
    cursor: pointer;
    left: 0;
}

.overlay-arrows.right {
    display: flex;
    position: absolute;
    cursor: pointer;
    right: 0;
}
