.contacts {
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts h1 {
	color: #fff;
	font-size: 3rem;
	line-height: 60px;
	text-align: center;
	margin: 10px 0 40px 0;
	text-shadow: 1px 1px 3px black;
	word-wrap: break-word;
}

.contacts h3 {
    margin: 10px;
}

.contacts-container {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
	width: min-content;
}

.contact-card {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 375px;
	background-color: rgba(17, 25, 40, 0.75);
	padding: 20px;
	margin-bottom: 20px;
	transition: 0.3s;
	border: 3px solid transparent;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
}

.contact-card span {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact-card span svg {
    margin-left: 8px;
	font-size: 1.2em;
}

.contact-card:hover {
	border-color: #632ce4;
}

.contact-card:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(123, 58, 237, 0.3);
}