.skills {
    padding: 10px;
    width: 80%;
    margin: auto;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
}

.skills h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.skills h3 {
    color: #fff;
    text-align: center;
}

.skills p {
    text-align: justify;
    text-justify: inter-word;
}

@media(max-height: 800px) {
    .skills {
        height: 100%;
    }
}