---
import { t } from '../lib/site';
---

<footer class="site-footer">
	<p>
		<span data-i18n="footer.faviconCredit">{t('footer.faviconCredit')}</span>
		<a href="https://www.flaticon.com/authors/muhamad-ulum" rel="noopener noreferrer" target="_blank">
			Muhamad Ulum
		</a>
	</p>
</footer>
