---
import SkillsTimeline from "./skills-timeline";

interface Props {
  t: Record<string, string>;
}

const { t } = Astro.props;
---

<section id="skills" class="section container-page">
  <SkillsTimeline messages={t} client:load />
</section>
