* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(135deg, #2b0040 0%, #000000 100%);
    color: #eee;
    margin: 0;
}

.p-4 h1 {
    color: #fff;
	margin: 10px 0;
	font-size: 3rem;
	line-height: 60px;
	text-align: center;
	text-shadow: 1px 1px 3px black;
	word-wrap: break-word;
}

div #root {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .p-4 h1 {
	    font-size: 2rem;
    }

    body {
        overflow: auto;
    }
}